<section class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-between ">
        <!-- LOGO -->
        <a href="/"
            class="d-flex align-items-center mb-2 col-12 col-lg-3 mb-lg-0 text-dark text-decoration-none">
            <img src="src/img/logo12.png" width="50" height="50" alt="logo">
            <span class="ms-3 fw-bold fs-5">PhimNew.com </span>
        </a>

        <div class="nav col-12 col-lg-9 me-lg-auto mb-2 mb-md-0 align-items-center" ng-include="'includes/navBar.html'">

        </div>
    </div>
</section>